<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TemplateDefaultFileKeyName" value="_wzór"/>
		<add key="TemplateDefaultFileKeyFilter" value="2"/>
		<add key="TemplateFileSelectorInitialDirectory" value="C:\"/>
		<add key="TemplateFolderSelectorInitialDirectory" value="C:\"/>
		<add key="TemplateSaveFolderSelectorInitialDirectory" value="C:\"/>
		<add key="TemplateSaveFolderSelectInitialDirectory" value="C:\"/>
		<add key="TemplateSaveFolderDirectory" value="C:\"/>
	</appSettings>
</configuration>