<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TemplateDefaultFileKeyName" value="_wzór"/>
		<add key="TemplateDefaultFileKeyFilter" value="2"/>
		<add key="TemplateFileSelectorInitialDirectory" value="C:\"/>
		<add key="TemplateFolderSelectorInitialDirectory" value="C:\"/>
		<add key="TemplateSaveFolderSelectInitialDirectory" value="C:\"/>
		<add key="TemplateSaveFolderDirectory" value="C:\"/>

		<add key="DataSheetDefaultFileKeyName" value="_arkusz"/>
		<add key="DataSheetDefaultFileKeyFilter" value="2"/>
		<add key="DataSheetFileSelectorInitialDirectory" value="C:\"/>
		<add key="DataSheetFolderSelectorInitialDirectory" value="C:\"/>
		<add key="DataSheetSaveFolderSelectInitialDirectory" value="C:\"/>
		<add key="DataSheetSaveFolderDirectory" value="C:\"/>
		<add key="DataSheetEditInitialDirectory" value="C:\"/>

		<add key="DocumentDefaultFileKeyName" value="_szablon"/>
		<add key="DocumentDefaultFileKeyFilter" value="2"/>
		<add key="DocumentFileSelectorInitialDirectory" value="C:\"/>
		<add key="DocumentFolderSelectorInitialDirectory" value="C:\"/>
		<add key="DocumentSaveFolderSelectInitialDirectory" value="C:\"/>
		<add key="DocumentSaveFolderDirectory" value="C:\"/>
		<add key="DocumentLoadDataSheetInitialDirectory" value="C:\"/>
		
		<add key="DependeciesFileName" value="dependencies.json"/>
	</appSettings>
</configuration>